@import "vendor/bootstrap";
@import "variables";
@import "button";
@import "forms";
body {
  padding-top: 51px;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.first{

  height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  video {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
  }
  .p-sm{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.86);
  }
  .p-lg{
    font-size: 3.5em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  .p-xlg{
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    color:rgb(255, 255, 255);

  }
  @media (max-width: $screen-sm-min) {
    .p-lg{
      font-size: 1.5em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.86);
    }
    .p-xlg{
      font-size: 2em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.86);
    }
  }
}
.second{
  position: relative;
  border: 1px #000;
  border-style: solid;
  height: 100vh;
  padding-top: 51px;
  z-index: 1;
  .p-sm{
    font-size: 2em;
    color: rgb(60, 52, 31);
  }
  .p-md{
    font-size: 2.5em;
    color: rgb(60, 52, 31);
  }
  .p-lg{
    font-size: 3.5em;
    text-transform: uppercase;

  }
  .p-xlg{
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
  }
  @media (max-width: $screen-sm-min) {
    .p-lg{
      font-size: 1.5em;
      text-transform: uppercase;
      color: rgb(60, 52, 31);
    }
    .p-xlg{
      font-size: 2em;
      text-transform: uppercase;
      color: rgb(60, 52, 31);
    }
    .p-md{
      font-size: 0.9em;
      color: rgb(60, 52, 31);
    }
  }
}
.bkg2{
  position:absolute;
  width: 100% !important;
  height: 200vh;
  z-index: -2;
}
.bkg3{
  position: absolute;
  width: 100% !important;
  height: 100vh;
  z-index: -1;
}
.third{
  position:absolute;
  border: 1px #000;
  border-style: solid;
  height: 200vh;
  width: 100%;
  padding-top: 51px;
  z-index: 1;
  .chain-outcenter{
    max-width: 60vh ;
    max-height: 60vh;
    width: auto;
    height: auto ;
  }
  .p-sm{
    font-size: 2em;

  }
  .p-lg{
    font-size: 3.5em;
    text-transform: uppercase;

  }
  .p-xlg{
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;

  }
  @media (max-width: $screen-sm-min) {
    .p-lg{
      font-size: 1.5em;
      text-transform: uppercase;
      color: rgba(#ffffff, 0.9);
    }
    .p-xlg{
      font-size: 2em;
      text-transform: uppercase;
      color: rgba(#ffffff, 0.9);
    }
  }
}
@media (min-width: 768px){
  h1{
    font-size: 4em;
  }
}
@media (min-width: $screen-sm-min) {
  .p-lg{
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(60, 52, 31);
  }
  .p-xlg{
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(60, 52, 31);
  }
}
.margin-md{
  margin-top: 10%;
}
.margin-sm{
  margin-top: 5%;
}

.bgk-primary-green{
  background-color: #1d473e;
}
.navbar-toggle{
  margin-left: 5px;
}
@media (min-width: 768px){
  .navbar-nav{
    float: none;
    margin-left: 25%;
    margin-right: auto;
    >li{
      margin-left: 3%;
    }
  }
}
.navbar-brand span{
  color: #FFF;
}
.navbar-collapse{
  border-top: 0;
}

.navbar-default .navbar-toggle{
  background-color: #1d473e;
  &:hover,
  &:focus{
    background-color: #2e7465;
  }
  .icon-bar{
    background-color: #FFF;
  }
}
.nav .navbar-nav{
  ul>li{
  }
}
.navbar-default .navbar-nav > li {
  >a{
    color: #4cc8ad;
    font-size: 20px;
  }
  >a:hover,
  >a:focus{
    color: #368e7b;
  }
}
.form-container{
  width: 60%;
  &.btn-container{
    width: 80%;
  }
}
